In [2]:
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv()
os.chdir(os.getenv("ROOT_DIR"))

# Load

In [3]:
# sample_sub = pd.read_csv(os.getenv("SAMPLE_SUBMISSION_PATH"))
# train_id = pd.read_csv(os.getenv("TRAIN_IDENTITY_PATH"))
# train_trans = pd.read_csv(os.getenv("TRAIN_TRANSACTION_PATH"))
# test_id = pd.read_csv(os.getenv("TEST_IDENTITY_PATH"))
# test_trans = pd.read_csv(os.getenv("TEST_TRANSACTION_PATH"))

# sample_sub = pd.read_csv(os.getenv("SAMPLE_SUBMISSION_PATH"), nrows=10000)
# train_id = pd.read_csv(os.getenv("TRAIN_IDENTITY_PATH"), nrows=10000)
# train_trans = pd.read_csv(os.getenv("TRAIN_TRANSACTION_PATH"), nrows=10000)
# test_id = pd.read_csv(os.getenv("TEST_IDENTITY_PATH"), nrows=10000)
# test_trans = pd.read_csv(os.getenv("TEST_TRANSACTION_PATH"), nrows=10000)

In [7]:
train_id.head(2)

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device

In [13]:
train_id.shape

(144233, 41)

In [14]:
train_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  144233 non-null  int64
 1   id_01          144233 non-null  float64
 2   id_02          140872 non-null  float64
 3   id_03          66324 non-null   float64
 4   id_04          66324 non-null   float64
 5   id_05          136865 non-null  float64
 6   id_06          136865 non-null  float64
 7   id_07          5155 non-null    float64
 8   id_08          5155 non-null    float64
 9   id_09          74926 non-null   float64
 10  id_10          74926 non-null   float64
 11  id_11          140978 non-null  float64
 12  id_12          144233 non-null  object
 13  id_13          127320 non-null  float64
 14  id_14          80044 non-null   float64
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_17          139369 non-null  float64
 18  id_18          45113 non-null   float64
 19  id_19          139318 non-null  float64
 20  id_20          139261 non-null  float64
 21  id_21          5159 non-null    float64
 22  id_22          5169 non-null    float64
 23  id_23          5169 non-null    object
 24  id_24          4747 non-null    float64
 25  id_25          5132 non-null    float64
 26  id_26          5163 non-null    float64
 27  id_27          5169 non-null    object
 28  id_28          140978 non-null  object
 29  id_29          140978 non-null  object
 30  id_30          77565 non-null   object
 31  id_31          140282 non-null  object
 32  id_32          77586 non-null   float64
 33  id_33          73289 non-null   object
 34  id_34          77805 non-null   object
 35  id_35          140985 non-null  object
 36  id_36          140985 non-null  object
 37  id_37          140985 non-null  object
 38  id_38          140985 non-null  object
 39  DeviceType     140810 non-null  object
 40  DeviceInfo     118666 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB

In [8]:
train_trans.head(2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
train_trans.shape

(590540, 394)

In [15]:
train_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB

In [18]:
test_id.head(2)

,TransactionID,id-01,id-02,id-03,id-04,id-05,id-06,id-07,id-08,id-09,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,MYA-L13 Build/HUAWEIMYA-L13
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 67.0 for android,24.0,1280x720,match_status:2,T,F,T,T,mobile,LGLS676 Build/MXB48T

In [19]:
test_id.shape

(141907, 41)

In [20]:
test_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  141907 non-null  int64
 1   id-01          141907 non-null  float64
 2   id-02          136976 non-null  float64
 3   id-03          66481 non-null   float64
 4   id-04          66481 non-null   float64
 5   id-05          134750 non-null  float64
 6   id-06          134750 non-null  float64
 7   id-07          5059 non-null    float64
 8   id-08          5059 non-null    float64
 9   id-09          74338 non-null   float64
 10  id-10          74338 non-null   float64
 11  id-11          136778 non-null  float64
 12  id-12          141907 non-null  object
 13  id-13          130286 non-null  float64
 14  id-14          71357 non-null   float64
 15  id-15          136977 non-null  object
 16  id-16          125747 non-null  object
 17  id-17          135966 non-null  float64
 18  id-18          50875 non-null   float64
 19  id-19          135906 non-null  float64
 20  id-20          135633 non-null  float64
 21  id-21          5059 non-null    float64
 22  id-22          5062 non-null    float64
 23  id-23          5062 non-null    object
 24  id-24          4740 non-null    float64
 25  id-25          5039 non-null    float64
 26  id-26          5047 non-null    float64
 27  id-27          5062 non-null    object
 28  id-28          136778 non-null  object
 29  id-29          136778 non-null  object
 30  id-30          70659 non-null   object
 31  id-31          136625 non-null  object
 32  id-32          70671 non-null   float64
 33  id-33          70671 non-null   object
 34  id-34          72175 non-null   object
 35  id-35          136977 non-null  object
 36  id-36          136977 non-null  object
 37  id-37          136977 non-null  object
 38  id-38          136977 non-null  object
 39  DeviceType     136931 non-null  object
 40  DeviceInfo     115057 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 44.4+ MB

In [21]:
test_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506691 entries, 0 to 506690
Columns: 393 entries, TransactionID to V339
dtypes: float64(376), int64(3), object(14)
memory usage: 1.5+ GB